<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <h1><%= title %></h1>
    <%- include('../partials/nav') %>
    <form action="/skills" method="POST">
        <div>
            <p>Skill </p>
            <input type="text" name="skill">
            <p>Skill Type </p>
            <input type="text" name="type">
            <p>Proficiency: </p>
            <input type="text" name="proficiency">
        </div>
        <button class="newSubmit" type="submit">Save Skill</button>
    </form>
</body>
</html>